body{
    font-family: 'Montserrat', sans-serif;
}
.banner-container{
    background-color: rgb(52, 51, 50);
}
.banner-column{
    background-color: rgb(97, 93, 93);

}
.navbar-container{
    background-color: rgba(26, 138, 121, 0.741);
    color: white;
}